<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Retwis - Twitter clone based on the Redis Key-Value DB</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css"/>        
    <script src="{{ static_url("jquery.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("scripts.js") }}" type="text/javascript"></script>
  </head>
  <body>
    <div id="page">
        <div id="header">
            <a href="/"><img style="border:none" src="{{ static_url("logo.png") }}" width="192" height="85" alt="Retwis"></a>
            <div id="navbar">
              <a href="/home/">home</a>
              | <a href="/timeline/">timeline</a>              
              | <a href="/api/">api</a>              
              {% if current_user %}
              | <a href="/logout/">logout</a>
              {% end %}
            </div>            
        </div>
        {% block body %}{% end %}
        <div id="footer"><a href="https://github.com/gennad/retwis-pytor>Fork me on github</a></div>
    </div>    
  </body>
</html>
